body {
	margin-top: 100px;
	background-color:;
	/* background-image: url('../img/paper_fibers.png'); */
}
#container {
	height: 100%;
}

/* FUTURE ME I AM SORRY FOR THIS DUN PUNISH ME PLS 
	GAWD NU */

.logo {
	/* Catastrophe starts now */
	line-height: 35px;
}

.logo #main {
	font-family: "Montserrat";
	font-weight: 300;
	font-size: 70px;
	letter-spacing: -5px;
}

.logo #slogan {
	font-family: "Times New Roman", "Georgia", serif;
	font-size: 20px;
}

#content {
	margin-top: 30px;
}

.alert {
	min-height: 30px;
	width: 100%;
	padding: 9px 10px 9px 20px;
	word-wrap: break-word;
}

.alert-info {
	border: 1px solid;
	border-color: #5bc0de;
	background-color: #5bc0de;
	color: white;
	font-family: "Open Sans";
	font-weight: 400;
	border-radius: 3px;
}

.alert i {
	margin-right: 10px;
	/* Fuck browser specific code */
	-webkit-font-smoothing: subpixel-antialiased
}

.antialiased {
	-webkit-font-smoothing: subpixel-antialiased
}





.object {
  display: flex;
  align-items: flex-start;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 15px 15px 15px 15px;

}

.object img {
  margin-right: 1em;
  max-height: 50px;
}

.object span {
  flex: 1;
  width: 100%;
  font-size: 18px;
  font-family: "Oswald";
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased
}

.object p {
  flex: 1;
	border: 1px transparent;
	border-radius: 70%;
	margin-bottom: 0px;
}

.object small {
	font-style: italic;
	float: right;
}